@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.Bubble Gum Balloon {
    background-color: #F7A3B3;
}
.Barley Tan tg {
    background-color: #DEBDA7;
}
.moonlit seahorse {
    background-color: #D3E3AD;
}
.Take Me Now {
    background-color: #A8E0C4;
}

.Melancholy {
    background-color: #93B7BD;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #93B7BD;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 95%;
    height: 95%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px dotted white;
}

h1 {
    color: rgba(255, 255, 255, 0.50);
    font-size: 150px;
    line-height: 150px;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
}

h1:hover {
    color: #D3E3AD;
    -webkit-transition: 0.5s ease-in; /* navegadores webkit, como Safari e Chrome */
    -moz-transition: 0.5s ease-in; /* Firefox */
    -o-transition: 0.5s ease-in; /* Opera */

}

footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    font-size: 10px;
    line-height: 10px;
    font-family: 'Comfortaa', cursive;
    left: 0;
    margin-bottom: 10px;
}

.wrapper-footer {
    width: 100vw;
}

.tx-footer {
    text-align: center;
}