@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.Bubble Gum Balloon {
    background-color: #F7A3B3;
}
.Barley Tan tg {
    background-color: #DEBDA7;
}
.moonlit seahorse {
    background-color: #D3E3AD;
}
.Take Me Now {
    background-color: #A8E0C4;
}

.Melancholy {
    background-color: #93B7BD;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #93B7BD;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: red;
    top: 5%;
    width: 80%;
    height: auto;
    position: absolute;

}

ul {
    background-color: green;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

li {
    width: 100%;
    position: relative;
    font-size: 2em;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
    color: white;
    background-color: black;
    
    
}

.container {
    width: 95%;
    height: 90%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.10em dotted white;
}

h1 {
    color: white;
    font-size: 6em;
    line-height: 6px;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
}

footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    font-size: 0.15em;
    line-height: 9px;
    font-family: 'Comfortaa', cursive;
    left: 0;
    margin-bottom: 2px;
}

.wrapper-footer {
    width: 100vw;
}

.tx-footer {
    text-align: center;
}